<div class="row details-component">

  
  <div class="col m10 offset-m1 s12 l8 offset-l2 xl6 offset-xl3">
    <div class="card z-depth-3">
      <div class="card-image">
        <img [src]="singleNews?.image || 'https://images.unsplash.com/photo-1519865402023-40e4b7bfcba0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7ff1b07d24dfa8aead0b040f1681dbb4&auto=format&fit=crop&w=1350&q=80'">

        <span class="card-title">#{{singleNews?.id}} {{ singleNews?.title | uppercase }}</span>
      </div>
      <div class="card-content">
        <p>{{ singleNews?.body }}</p>
      </div>
      <div class="card-action">
        <a routerLink="/" class="" link>Back...</a>
        
        <app-single-rating [id]="this.id"></app-single-rating>

      </div>
    </div>
  </div>

</div>