.label-icon i{
  width: 30px;
  margin: 0;
}

#items-content{
  &.overlay {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, .5);
      transition: all 2s ease;
      z-index: 100;
    }
  }
}
