<div class="navbar-fixed">

  <nav>
    <div class="nav-wrapper indigo darken-3">



      <div class="input-field">

        <input (focus)="formChange('focus')" (blur)="formChange('blur')" [formControl]="searchForm" id="search" type="search" required placeholder="Search..." class="validate">

        <label class="label-icon" for="search">
          <i class="material-icons">search</i>
        </label>
        <i class="material-icons">close</i>
      </div>
    </div>
  </nav>
</div>
<div class="row" id="items-content">

  <app-news-item
    *ngFor="let n of news | search:searchStr"
    [news]="n">
  </app-news-item>
  <div class="container center">
      <button class="btn waves-effect waves-light indigo darken-3">Load More</button>
  </div>

</div>